:root {
    --width: 900px;
    --height: calc(var(--width) * 9 / 16);
    --slides: 4;
}

.slider-frame {
    overflow: hidden;
    width: var(--width);
    height: var(--height);
    margin: auto;
    position: relative; /* Ensure the frame is relatively positioned */
}

.slide-images {
    width: calc(var(--width) * var(--slides)); /* 800px (width of one image) * 4 (number of images including one duplicate) */
    height: var(--height);
    position: relative;
    display: flex; /* Align images in a row */
    animation-name: slide_animation;
    animation-duration: 32s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.slide-images img {
    width: var(--width); /* Ensure each image takes up the width of the slider frame */
    height: var(--height);
}

@keyframes slide_animation {
    0% {left: 0;}
    12.5% {left: 0;}
    25% {left: calc(var(--width) * -1);}
    37.5% {left: calc(var(--width) * -1);}
    50% {left: calc(var(--width) * -2);}
    62.5% {left: calc(var(--width) * -2);}
    75% {left: calc(var(--width) * -3);}
    87.5% {left: calc(var(--width) * -3);}
    100% {left: calc(var(--width) * -4);}
}

@keyframes slide_animation {
    0% {left: 0;}
    12.5% {left: 0;}
    25% {left: calc(var(--width) * -1);}
    37.5% {left: calc(var(--width) * -1);}
    50% {left: calc(var(--width) * -2);}
    62.5% {left: calc(var(--width) * -2);}
    75% {left: calc(var(--width) * -3);}
    87.5% {left: calc(var(--width) * -3);}
    100% {left: calc(var(--width) * -4);}
}