@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

:root {
  --height: 85vh;
  --width: calc(var(--height) * 16 / 9);
  --slides: 4;
}

.slideshow {
  position: relative;
  margin-inline: auto;
  margin-top: calc((100vh - var(--height)) / 2 - 50px);
  max-height: calc(var(--height) + 50px);
}

.slideshow .title {
  font-family: "Anton SC", sans-serif;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  bottom: -70px;
  font-weight: 500;
  font-size: 2.5vw;
  font-style: italic;
  z-index: 9999;
}

.slideshow .slider-frame {
  overflow: hidden;
  width: var(--width);
  height: max-content;
  position: relative;
  margin-inline: auto;
  border: 10px solid transparent;
  border-radius: 20px;
}

.slideshow .slide-images {
  width: calc(var(--width) * var(--slides));
  height: var(--height);
  position: relative;
  display: flex;
  animation-name: slide_animation;
  animation-duration: 32s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.slideshow .slide-images img {
  width: var(--width);
  height: var(--height);
}

@keyframes slide_animation {
  0% {
    left: 0;
  }
  12.5% {
    left: 0;
  }
  25% {
    left: calc(var(--width) * -1);
  }
  37.5% {
    left: calc(var(--width) * -1);
  }
  50% {
    left: calc(var(--width) * -2);
  }
  62.5% {
    left: calc(var(--width) * -2);
  }
  75% {
    left: calc(var(--width) * -3);
  }
  87.5% {
    left: calc(var(--width) * -3);
  }
  100% {
    left: calc(var(--width) * -4);
  }
}

@keyframes slide_animation {
  0% {
    left: 0;
  }
  12.5% {
    left: 0;
  }
  25% {
    left: calc(var(--width) * -1);
  }
  37.5% {
    left: calc(var(--width) * -1);
  }
  50% {
    left: calc(var(--width) * -2);
  }
  62.5% {
    left: calc(var(--width) * -2);
  }
  75% {
    left: calc(var(--width) * -3);
  }
  87.5% {
    left: calc(var(--width) * -3);
  }
  100% {
    left: calc(var(--width) * -4);
  }
}
