:root {
    --width: 25vw;
    --height: calc(var(--width) * 9 / 16);
    --slides: 4;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh;
  }
  
  img {
    width: var(--width);
    height: var(--height);
  }
  
  button.remove {
    z-index: 999999;
    position: relative;
    top: calc(-1 * var(--height) + 10px);
    right: 10px;
    background-color: #ffffff00;
    color: white;
    border: none;
    padding: 2px;
    font-size: 15px;
    cursor: pointer;
  }
  
  button.remove:hover {
    color: rgb(149, 149, 248);
  }
  
  .message {
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #d6e9c6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  .error {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #d6e9c6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
  }